/* General body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #1b2838;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Scale down everything on the page */
    transform: scale(0.8); /* Adjust the scale factor as needed */
    transform-origin: top left;
    width: 125%; /* Adjust the width to counteract scaling issues */
    height: 125%; /* Adjust the height to counteract scaling issues */
}

.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1000px; /* Base width before scaling */
    transform: scale(1.1); /* Increase this value to scale up */
    transform-origin: top left; /* Ensure scaling originates from the top-left corner */
    margin: 20px; /* Adjust margins if needed */
}


/* Scoreboard container styles */


/* Style for each team section */
.team {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #161F26;
    border-radius: 10px;
    border: 1px solid #1b2838;
}

/* Team header styles */
.team-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.team-name, .score {
    margin: 0;
    color: white;
    text-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14;
}

#dire .team-name, #dire .score {
    text-shadow: 0 0 5px #ff0000, 0 0 30px #ff0000;
}

.score {
    font-size: 28px;
    margin-right: 10px;
}

.team-name {
    font-size: 24px;
}

/* Table styles */
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
    color: white;
}

th:nth-child(2), td:nth-child(2) {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


th:first-child {
   visibility: hidden;
}


th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #444;
}

th {
    background-color: #5b5b5b;
    color: #bcbcbc;
    padding: 3px;
}

/* Style for player and hero names */
.player-name {
    font-weight: bold;
    color: #fff;
}

.hero-name {
    color: #e67e22;
}

/* Style for gold and stats */
.gold, .net_worth {
    color: #f1c40f;
}

.lvl, .k, .d, .a {
    color: #fff;
}

/* Circle around level amount */
.lvl-circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #060508;
    color: #e1d2a5;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #e1d2a5;
}

.lvl {
    padding: 0;
    text-align: center;
}

